@{
  ViewData["Title"] = "Born Again Wiki";
}

@section Scripts {
	<script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
	<script src="~/js/demo/dashboard.demo.js"></script>
}

<!-- BEGIN container -->
<div class="container">
	<!-- BEGIN row -->
	<div class="row justify-content-center">
		<!-- BEGIN col-10 -->
		<div class="col-xl-10">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-9 -->
				<div class="col-xl-9">
					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3">
							<!-- BEGIN card -->
							<img class="rounded" src="/img/hero.png" style="width: 100%;height: 300px;object-fit:cover;" />
							<!-- END card -->
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->

					<!-- BEGIN row -->
					<div class="row" align="center">
						<h4>Welcome to the Official Born Again Wiki!</h4>
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row">
						<p><b>Born Again</b> is a free-to-play, hack-n-slash, permadeath MMO. Travel to the <b>Outer Realm</b> to defeat kings, rules, and dieties along your path to exaltation!</p>

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body">
									<h5><i class="fab fa-discord fa-xl"></i> Community</h5>
									<p>Join the conversation in our official <a class="stretched-link" href="https://discord.gg/bornagain" target="_blank">Discord</a></p>
								</div>
							</div>
						</div>
						<!-- END col-6 -->

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body">
									<h5><i class="fab fa-github fa-xl"></i> Open Source</h5>
									<p>Contribute to this project through our <a class="stretched-link" href="https://github.com/Unnamed-Studios-LLC/Born-Again-Wiki" target="_blank">GitHub</a></p>
								</div>
							</div>
						</div>
						<!-- END col-6 -->
					</div>
					<!-- END row -->

					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5>Game Links</h5>
									<div class="d-flex flex-row align-items-center justify-content-center text-decoration-none mt-3">
										<a href="https://apps.apple.com/us/app/born-again-online/id1629507405" target="_blank"><i class="fab fa-apple fa-2xl me-5 ms-5"></i></a>
										<a href="https://play.google.com/store/apps/details?id=co.unnamedstudios.bornagain" target="_blank"><i class="fab fa-android fa-2xl me-5"></i></a>
										<a href="https://store.steampowered.com/app/2332210/Born_Again/" target="_blank"><i class="fab fa-steam fa-2xl me-5"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5>Socials</h5>
									<div class="d-flex flex-row align-items-center justify-content-center text-decoration-none mt-3">
										<a href="https://x.com/bornagainonline" target="_blank"><i class="fab fa-x-twitter fa-2xl me-5 ms-5"></i></a>
										<a href="https://www.reddit.com/r/bornagainonline/" target="_blank"><i class="fab fa-reddit fa-2xl me-5"></i></a>
										<a href="https://www.instagram.com/bornagainonline/" target="_blank"><i class="fab fa-instagram fa-2xl me-5"></i></a>
										<a href="https://www.tiktok.com/@@bornagainonline" target="_blank"><i class="fab fa-tiktok fa-2xl me-5"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row">
						<h5 class="mb-3">Classes</h5>
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3 d-flex flex-wrap">
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/warrior"><img src="/tex/warrior" class="sprite-md"></a>
								<a href="/warrior" class="fs-20px ms-2 d-flex text-decoration-none">Warrior</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/assassin"><img src="/tex/assassin" class="sprite-md"></a>
								<a href="/assassin" class="fs-20px ms-2 text-decoration-none">Assassin</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/monk"><img src="/tex/monk" class="sprite-md"></a>
								<a href="/monk" class="fs-20px ms-2 text-decoration-none">Monk</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/nomad"><img src="/tex/nomad" class="sprite-md"></a>
								<a href="/nomad" class="fs-20px ms-2 text-decoration-none">Nomad</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/samurai"><img src="/tex/samurai" class="sprite-md"></a>
								<a href="/samurai" class="fs-20px ms-2 d-flex text-decoration-none">Samurai</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/shaolin"><img src="/tex/shaolin" class="sprite-md"></a>
								<a href="/shaolin" class="fs-20px ms-2 text-decoration-none">Shaolin</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/bastion"><img src="/tex/bastion" class="sprite-md"></a>
								<a href="/bastion" class="fs-20px ms-2 text-decoration-none">Bastion</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/shinobi"><img src="/tex/shinobi" class="sprite-md"></a>
								<a href="/shinobi" class="fs-20px ms-2 text-decoration-none">Shinobi</a>
							</div>
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->

					<hr class="mb-4">
					
					<!-- BEGIN row -->
					<div class="row">
						<h5 class="mb-3">Weapons</h5>
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3 d-flex flex-wrap">
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/bows"><img src="/tex/bow-jungle" class="sprite-md"></a>
								<a href="/bows" class="fs-20px ms-2 d-flex text-decoration-none">Bows</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/daggers"><img src="/tex/dagger-vika" class="sprite-md"></a>
								<a href="/daggers" class="fs-20px ms-2 text-decoration-none">Daggers</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/hammers"><img src="/tex/hammer-golden" class="sprite-md"></a>
								<a href="/hammers" class="fs-20px ms-2 text-decoration-none">Hammers</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/katanas"><img src="/tex/katana-akuji-0" class="sprite-md"></a>
								<a href="/katanas" class="fs-20px ms-2 text-decoration-none">Katanas</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/kunai"><img src="/tex/kunai-piercer" class="sprite-md"></a>
								<a href="/kunai" class="fs-20px ms-2 text-decoration-none">Kunai</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/staves"><img src="/tex/staff-akuji-grand" class="sprite-md"></a>
								<a href="/staves" class="fs-20px ms-2 text-decoration-none">Staves</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/swords"><img src="/tex/dao-7" class="sprite-md"></a>
								<a href="/swords" class="fs-20px ms-2 text-decoration-none">Swords</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/tekko"><img src="/tex/tekko-rakasha" class="sprite-md"></a>
								<a href="/tekko" class="fs-20px ms-2 text-decoration-none">Tekko</a>
							</div>
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row">
						<h5 class="mb-3">Abilities</h5>
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3 d-flex flex-wrap">
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/agility"><img src="/tex/abilities-agility-firecrackers-5" class="sprite-md"></a>
								<a href="/agility" class="fs-20px ms-2 d-flex text-decoration-none">Agility</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/focus"><img src="/tex/abilities-focus-trap" class="sprite-md"></a>
								<a href="/focus" class="fs-20px ms-2 text-decoration-none">Focus</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/power"><img src="/tex/abilities-power-cannon" class="sprite-md"></a>
								<a href="/power" class="fs-20px ms-2 text-decoration-none">Power</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/support"><img src="/tex/abilities-support-lotus-6" class="sprite-md"></a>
								<a href="/support" class="fs-20px ms-2 text-decoration-none">Support</a>
							</div>
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row">
						<h5 class="mb-3">Equipment</h5>
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3 d-flex flex-wrap">
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/accessories"><img src="/tex/accessory-pirate" class="sprite-md"></a>
								<a href="/accessories" class="fs-20px ms-2 d-flex text-decoration-none">Accessories</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/boots"><img src="/tex/boots-phoenix" class="sprite-md"></a>
								<a href="/boots" class="fs-20px ms-2 text-decoration-none">Boots</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/tabi"><img src="/tex/tabi-sand" class="sprite-md"></a>
								<a href="/tabi" class="fs-20px ms-2 text-decoration-none">Tabi</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/armors"><img src="/tex/armor-hammurabi" class="sprite-md"></a>
								<a href="/armors" class="fs-20px ms-2 text-decoration-none">Armors</a>
							</div>
							<div class="align-items-center me-4 d-flex flex-nowrap align-items-center">
								<a href="/robes"><img src="/tex/robe-wapo" class="sprite-md"></a>
								<a href="/robes" class="fs-20px ms-2 text-decoration-none">Robes</a>
							</div>
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END col-10 -->
	</div>
	<!-- END row -->
</div>
<!-- END container -->