@using Ronin.Model
@using Ronin.Model.Enums
@{
	ViewData["Title"] = "Born Again Wiki";
	ViewData["MetaDescription"] = "Born Again is a free-to-play, hack-n-slash, permadeath MMO. Travel to the Outer Realm to defeat kings, rules, and dieties along your path to exaltation!";
	ViewData["MetaImage"] = "/img/thumb.png";
}

@section Scripts {

}

<!-- BEGIN container -->
<div class="container">
	<!-- BEGIN row -->
	<div class="row justify-content-center">
		<!-- BEGIN col-10 -->
		<div class="col-xl-10">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-9 -->
				<div class="col-xl-9">
					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-12 -->
						<div class="col-xl-12 mb-3">
							<!-- BEGIN card -->
							<img class="rounded" src="/img/hero.png" style="width: 100%;height: 300px;object-fit:cover;" />
							<!-- END card -->
						</div>
						<!-- END col-12 -->
					</div>
					<!-- END row -->

					<!-- BEGIN row -->
					<div class="row" align="center">
						<h4>Welcome to the Official Born Again Wiki!</h4>
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row">
						<p><b>Born Again</b> is a free-to-play, hack-n-slash, permadeath MMO. Travel to the <b>Outer Realm</b> to defeat kings, rules, and dieties along your path to exaltation!</p>

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5><i class="fab fa-discord fa-xl me-1"></i> Community</h5>
									<div>Join the conversation in our official <a class="stretched-link" href="https://discord.gg/DPjHHTFZDs" target="_blank">Discord</a></div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5><i class="fab fa-github fa-xl me-1"></i> Open Source</h5>
									<div>Contribute to this project through our <a class="stretched-link" href="https://github.com/Unnamed-Studios-LLC/Born-Again-Wiki" target="_blank">GitHub</a></div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->
					</div>
					<!-- END row -->

					<!-- BEGIN row -->
					<div class="row">
						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5>Store Links</h5>
									<div class="d-flex flex-row align-items-center justify-content-center text-decoration-none mt-3">
										<a class="text-reset" href="https://apps.apple.com/us/app/born-again-online/id1629507405" target="_blank"><i class="fab fa-apple fa-2xl me-5 ms-5 text-decoration-none"></i></a>
										<a class="text-reset" href="https://play.google.com/store/apps/details?id=co.unnamedstudios.bornagain" target="_blank"><i class="fab fa-android fa-2xl me-5"></i></a>
										<a class="text-reset" href="https://store.steampowered.com/app/2332210/Born_Again/" target="_blank"><i class="fab fa-steam fa-2xl me-5"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->

						<!-- BEGIN col-6 -->
						<div class="col-xl-6 mb-3">
							<div class="card">
								<div class="card-body" align="center">
									<h5>Follow us!</h5>
									<div class="d-flex flex-row align-items-center justify-content-center text-decoration-none mt-3">
										<a class="text-reset" href="https://x.com/bornagainonline" target="_blank"><i class="fab fa-x-twitter fa-2xl me-5 ms-5"></i></a>
										<a class="text-reset" href="https://www.reddit.com/r/bornagainonline/" target="_blank"><i class="fab fa-reddit fa-2xl me-5"></i></a>
										<a class="text-reset" href="https://www.instagram.com/bornagainonline/" target="_blank"><i class="fab fa-instagram fa-2xl me-5"></i></a>
										<a class="text-reset" href="https://www.tiktok.com/@@bornagainonline" target="_blank"><i class="fab fa-tiktok fa-2xl me-5"></i></a>
									</div>
								</div>
							</div>
						</div>
						<!-- END col-6 -->
					</div>
					<!-- END row -->

					<hr class="mb-4">

					<!-- BEGIN row -->
					<div class="row mb-4">
						<div class="col-xl-6">
							<h4 align="center" class="mb-3"><i class="fa fa-users me-1"></i> Classes</h4>
							<!-- BEGIN col-12 -->
							@{
								RenderLinks(new[] {
									("Warrior", "warrior"),
									("Assassin", "assassin"),
									("Monk", "monk"),
									("Nomad", "nomad"),
									("Samurai", "samurai"),
									("Shaolin", "shaolin"),
									("Bastion", "bastion"),
									("Shinobi", "shinobi")
								});
							}
							<!-- END col-12 -->
						</div>
						
						<div class="col-xl-6">
							<h4 align="center" class="mb-3"><i class="fa fa-hand-fist me-1"></i> Weapons</h4>
							<!-- BEGIN col-12 -->
							@{
								RenderLinks(new[] {
									("Bows", "bow-jungle"),
									("Daggers", "dagger-vika"),
									("Hammers", "hammer-golden"),
									("Katanas", "katana-akuji-0"),
									("Kunai", "kunai-piercer"),
									("Staves", "staff-akuji-grand"),
									("Swords", "dao-7"),
									("Tekko", "tekko-rakasha")
								});
							}
							<!-- END col-12 -->
						</div>
					</div>
					<!-- END row -->
					
					<!-- BEGIN row -->
					<div class="row mb-4">
						<div class="col-xl-6">
							<h4 align="center" class="mb-3"><i class="fa fa-wand-sparkles me-1"></i> Abilities</h4>
							<!-- BEGIN col-12 -->
							@{
								RenderLinks(new[] {
									("Agility", "abilities-agility-firecrackers-5"),
									("Focus", "abilities-focus-trap"),
									("Power", "abilities-power-cannon"),
									("Support", "abilities-support-lotus-6")
								});
							}
							<!-- END col-12 -->
						</div>
						
						<div class="col-xl-6">
							<h4 align="center" class="mb-3"><i class="fa fa-shield-halved me-1"></i> Equipment</h4>
							<!-- BEGIN col-12 -->
							@{
								RenderLinks(new[] {
									("Accessories", "accessory-pirate"),
									("Boots", "boots-phoenix"),
									("Tabi", "tabi-sand"),
									("Armors", "armor-hammurabi"),
									("Robes", "robe-wapo")
								});
							}
							<!-- END col-12 -->
						</div>
					</div>
					<!-- END row -->

					<!-- BEGIN row -->
					<div class="row mb-4">
						<div class="col-xl-12">
							<h4 align="center" class="mb-3"><i class="fa fa-fish me-1"></i> Misc</h4>
							<!-- BEGIN col-12 -->
							@{
								RenderLinks(new[] {
									("Blessings", "blessing-snake-1"),
									("Food", "consumable-grapes"),
									("Hats", "hats-straw")
								});
							}
							<!-- END col-12 -->
						</div>
					</div>
					<!-- END row -->
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END col-10 -->
	</div>
	<!-- END row -->
</div>
<!-- END container -->

@{
	void RenderLinks(IEnumerable<(string Title, string Icon)> links)
	{
		<div class="col-xl-12 mb-3 d-flex flex-wrap justify-content-center">
			@foreach (var (title, icon) in links)
			{
				<div class="card me-2 mb-2">
					<div class="card-body align-items-center d-flex flex-nowrap">
						<img src="/tex/@icon?s=s" class="sprite">
						<a href="/@title.ToLower()" class="fs-20px ms-2 d-flex text-decoration-none stretched-link text-reset">@title</a>
					</div>
				</div>
			}
		</div>
	}
}