@using BornAgainWiki.Lookup
@using BornAgainWiki.Models.Classes
@model ClassesViewModel
@{
	ViewData["Title"] = "Classes";
	ViewData["AppClass"] = "app-content-full-height";
}

@section Styles {

}

@section Scripts {

}

<!-- page header -->
<h1 class="page-header">
	Classes <small>movement, range & play-style</small>
</h1>

@foreach (var item in Model.Characters)
{
	<div>
		<a href="/@(ObjectLookup.GenerateKey(item.Name))">@item.Name</a>
	</div>
}