@{
	ViewData["Title"] = "Top Nav";
	ViewData["AppClass"] = "app-with-top-nav app-without-sidebar";
	ViewData["AppTopNav"] = true;
	ViewData["AppWithoutSidebar"] = true;
}

@section Scripts {
	<script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="~/js/demo/highlightjs.demo.js"></script>
}

<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
	<li class="breadcrumb-item active">TOP NAV</li>
</ul>

<h1 class="page-header">
	Top Nav <small>page header description goes here...</small>
</h1>

<hr class="mb-4">

<p>
  Add the following variable to your view file for top nav page setting.
</p>

<div class="card">
	<div class="hljs-container rounded">
		<pre><code data-url="/data/layout-top-nav/code-1.json"></code></pre>
	</div>
</div>