@using BornAgainWiki.Lookup
@using BornAgainWiki.Models.Items
@model ItemsViewModel
@{
	ViewData["Title"] = "Items";
	ViewData["AppClass"] = "app-content-full-height";
}

@section Styles {

}

@section Scripts {

}

<!-- page header -->
<h1 class="page-header">
	Items <small>equipment, consumables & abilities</small>
</h1>

@foreach (var item in Model.Items)
{
	<div>
		<img class="sprite me-2" src="/tex/@(item.Textures.FirstOrDefault())" />
		<a href="/@(ObjectLookup.GenerateKey(item.Name))">@item.Name</a>
	</div>
}