@using BornAgainWiki.Models.Items
@model ItemViewModel
@{
	ViewData["Title"] = "Item";
	ViewData["AppClass"] = "app-content-full-height";
}

@section Styles {

}

@section Scripts {

}

<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="/Items">ITEMS</a></li>
	<li class="breadcrumb-item active">@Model.Definition.Name</li>
</ul>

<!-- page header -->
<h1 class="page-header">
	@Model.Definition.Name <small>@Model.Definition.Rarity</small>
</h1>

<p>
	@Model.Definition.Description
</p>