@using BornAgainWiki.Models.Items
@using Ronin.Model.Enums
@model ItemsViewModel
@{
	ViewData["Title"] = "Bows";
	ViewData["AppClass"] = "app-content-full-height";
	ViewData["MetaDescription"] = "Elegant and precise, bows excel in delivering swift, ranged attacks to keep enemies at a safe distance. Their versatility allows for deadly accuracy or rapid volleys, making them a favorite for those who value strategy and precision over brute force.";
	ViewData["MetaImage"] = "/tex/placeholder-hammer?s=l";
}

@section Styles {

}

@section Scripts {

}

<!-- BEGIN container -->
<div class="container">
	<!-- BEGIN row -->
	<div class="row justify-content-center">
		<!-- BEGIN col-10 -->
		<div class="col-xl-10">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-9 -->
				<div class="col-xl-9">
					<h1 class="page-header">
						<img class="sprite me-1" src="/tex/placeholder-bow" />
						@ViewData["Title"] <small>Why fight up close when the perfect shot is all it takes?</small>
					</h1>

					<p>
						@ViewData["MetaDescription"]
					</p>

					<hr class="mb-4">

					<partial name="_WeaponList" />
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END col-10 -->
	</div>
	<!-- END row -->
</div>
<!-- END container -->