@using BornAgainWiki.Models.Items
@using Ronin.Model.Enums
@model ItemsViewModel
@{
	ViewData["Title"] = "Hammers";
	ViewData["AppClass"] = "app-content-full-height";
	ViewData["MetaDescription"] = "Massive and powerful, hammers are designed for crushing blows that stagger enemies and shatter defenses. They are slow but deliver devastating damage, making them ideal for players who prefer overwhelming strength over agility.";
	ViewData["MetaImage"] = "/tex/placeholder-hammer?s=l";
}

@section Styles {

}

@section Scripts {

}

<!-- BEGIN container -->
<div class="container">
	<!-- BEGIN row -->
	<div class="row justify-content-center">
		<!-- BEGIN col-10 -->
		<div class="col-xl-10">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-9 -->
				<div class="col-xl-9">
					<h1 class="page-header">
						<img class="sprite me-1" src="/tex/placeholder-hammer" />
						@ViewData["Title"] <small>When finesse fails, bring the hammer.</small>
					</h1>

					<p>
						@ViewData["MetaDescription"]
					</p>

					<hr class="mb-4">

					<partial name="_WeaponList" />
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END col-10 -->
	</div>
	<!-- END row -->
</div>
<!-- END container -->