@{
	ViewData["Title"] = "Boxed Layout";
	ViewData["BodyClass"] = "app-with-bg";
  ViewData["AppClass"] = "app-boxed-layout";
}

@section Scripts {
	<script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="~/js/demo/highlightjs.demo.js"></script>
}

<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
	<li class="breadcrumb-item active">BOXED LAYOUT</li>
</ul>

<h1 class="page-header">
	Boxed Layout <small>page header description goes here...</small>
</h1>

<hr class="mb-4">

<p>
	Add the following code to your view file for boxed layout page setting.
</p>

<div class="card">
	<div class="hljs-container rounded">
		<pre><code data-url="/data/layout-boxed-layout/code-1.json"></code></pre>
	</div>
</div>