@{
	ViewData["Title"] = "Full Width";
	ViewData["AppClass"] = "app-content-full-width";
	ViewData["AppWithoutSidebar"] = true;
}

@section Scripts {
	<script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="~/js/demo/highlightjs.demo.js"></script>
}

<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
	<li class="breadcrumb-item active">FULL WIDTH</li>
</ul>

<h1 class="page-header">
	Full Width <small>page header description goes here...</small>
</h1>

<hr class="mb-4">

<p>
	Add the the following code to your view file for full width page setting.
</p>

<div class="card mb-3">
	<div class="hljs-container rounded">
		<pre><code data-url="/data/layout-full-width/code-1.json"></code></pre>
	</div>
</div>

<p>
	<a href="javascript:history.back(-1);" class="btn btn-default"><i class="fa fa-chevron-left fa-fw ms-n1"></i> Back to previous Page</a>
</p>