<!-- BEGIN #header -->
<div id="header" class="app-header">
	<!-- BEGIN mobile-toggler -->
	<div class="mobile-toggler">
		@if (ViewData["AppTopNav"] != null && ViewData["AppWithoutSidebar"] != null) {
		<button type="button" class="menu-toggler" data-toggle="top-nav-mobile">
			<span class="bar"></span>
			<span class="bar"></span>
		</button>
		} else {
		<button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
			<span class="bar"></span>
			<span class="bar"></span>
		</button>
		}
	</div>
	<!-- END mobile-toggler -->
	
	<!-- BEGIN brand -->
	<div class="brand">
		<div class="desktop-toggler">
			@if (ViewData["AppWithoutSidebar"] == null) {
			<button type="button" class="menu-toggler" data-toggle="sidebar-minify">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
			} else {
			<button type="button" class="menu-toggler">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
			}
		</div>
		
		<a href="/" class="brand-logo">
			<img src="/img/logo.png" class="invert-dark sprite" alt="" height="20">
		</a>
	</div>
	<!-- END brand -->
	
	<!-- BEGIN menu -->
	<div class="menu">
		<form class="menu-search" method="POST" name="header_search_form">
			<div class="menu-search-icon"><i class="fa fa-search"></i></div>
			<div class="menu-search-input">
				<input type="text" class="form-control" placeholder="Search menu...">
			</div>
		</form>
	</div>
	<!-- END menu -->
</div>
<!-- END #header -->