@{
	ViewData["Title"] = "Not Found";
}

<!-- BEGIN error -->
<div class="error-page">
	<!-- BEGIN error-page-content -->
	<div class="error-page-content">
		<div class="error-img">
			<div class="error-img-code">404</div>
			<img src="/img/page/404.svg" alt="">
		</div>

		<h1>Oops!</h1>
		<h3>We can't seem to find the page you're looking for</h3>
		<a href="javascript:history.back(-1);" class="btn btn-theme"><i class="fa fa-chevron-left fa-fw ms-n1"></i> Back to previous Page</a>
	</div>
	<!-- END error-page-content -->
</div>
<!-- END error -->